<ion-modal-view>
<ion-header-bar class="bar-assertive">
  <h1 class="title">Configuración grupo</h1>
</ion-header-bar>
<ion-content>
  <ion-list>
  	<ion-radio ng-click="setGrupo(1)">grupo1</ion-radio>
  	<ion-radio ng-click="setGrupo(2)">grupo2</ion-radio>
  	<ion-radio ng-click="setGrupo(3)">grupo3</ion-radio>
  	<ion-radio ng-click="setGrupo(4)">grupo4</ion-radio>
  	<ion-radio ng-click="setGrupo(5)">grupo5</ion-radio>
  	<ion-radio ng-click="setGrupo(6)">grupo6</ion-radio>
  	<ion-radio ng-click="setGrupo(7)">grupo7</ion-radio>
  	<ion-radio ng-click="setGrupo(8)">grupo8</ion-radio>
  	<ion-radio ng-click="setGrupo(9)">grupo9</ion-radio>
  	<ion-radio ng-click="setGrupo(10)">grupo10</ion-radio>
  </ion-list>
  <br /><br />
  <button class="button button-block button-assertive" ng-click="confirmGrupo();">
	Confirmar
  </button>
</ion-content>
</ion-modal-view>